<div ng-controller="addItemController">
<form name="item.form" class="form-horizontal" ng-submit="addItem()"
      novalidate="novalidate">
    <div class="form-group">
        <div class="alert alert-danger text-center" ng-show="has_error">
            <h3>There was a problem registering, please try again later!</h3>
        </div>
    </div>
    <div class="form-group">
        <label for="admission_no" class="col-sm-2 control-label">{{'admission_no' | translate}}</label>
        <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   ng-model="formModel.admission_no"
                   id="admission_no">
        </div>
    </div>

    <div class="form-group">
        <label for="admission_date" class="col-sm-2 control-label">{{'admission_date' | translate}}</label>
        <div class="col-sm-10">
            <input type="date"
                   class="form-control"
                   ng-model="formModel.admission_date"
                   id="admission_date">
        </div>
    </div>

    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">{{'student_name' | translate}}</label>
        <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   ng-model="formModel.name"
                   id="name">
        </div>
    </div>


    <div class="form-group">
        <label for="age" class="col-sm-2 control-label">{{'age' | translate}}</label>
        <div class="col-sm-10">
            <input type="number"
                   class="form-control"
                   ng-model="formModel.age"
                   min="3"
                   max="64"
                   id="age">
        </div>
    </div>



    <div class="form-group">
        <label for="father_name" class="col-sm-2 control-label">{{'father_name' | translate}}</label>
        <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   ng-model="formModel.father_name"
                   id="father_name">
        </div>
    </div>

    <div class="form-group">
        <label for="guardian_name" class="col-sm-2 control-label">{{'guardian_name' | translate}}</label>
        <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   ng-model="formModel.guardian_name"
                   id="guardian_name">
        </div>
    </div>


    <div class="form-group">
        <label for="relation" class="col-sm-2 control-label">{{'relation' | translate}}</label>
        <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   ng-model="formModel.relation"
                   id="relation">
        </div>
    </div>

    <div class="form-group">
        <label for="contact_no" class="col-sm-2 control-label">{{'contact_no' | translate}}</label>
        <div class="col-sm-10">
            <input type="text"
                   class="form-control"
                   ng-model="formModel.contact_no"
                   id="contact_no">
        </div>
    </div>



    <div class="form-group">
        <label for="class_name" class="col-sm-2 control-label">{{'class_name' | translate}}</label>
        <div class="col-sm-10">
            <select id="class_name"
                    class="form-control"
                    ng-model="formModel.class_name">
                <option value="">Please Choose</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="rental_bill" class="col-sm-2 control-label">{{'rental_bill' | translate}}</label>
        <div class="col-sm-10">
            <input type="number"
                   class="form-control"
                   ng-model="formModel.rental_bill"
                   id="rental_bill"
                   required="required">
        </div>
    </div>

    <div class="form-group">
        <label for="monthly_fees" class="col-sm-2 control-label">{{'monthly_fees' | translate}}</label>
        <div class="col-sm-10">
            <input type="number"
                   class="form-control"
                   ng-model="formModel.monthly_fees"
                   id="monthly_fees"
                   required="required">
        </div>
    </div>

    <div class="form-group">
        <label for="book_bill" class="col-sm-2 control-label">{{'book_bill' | translate}}</label>
        <div class="col-sm-10">
            <input type="number"
                   class="form-control"
                   ng-model="formModel.book_bill"
                   id="book_bill"
                   required="required">
        </div>
    </div>

    <div class="form-group">
        <label for="cash" class="col-sm-2 control-label">{{'cash' | translate}}</label>
        <div class="col-sm-10">
            <input type="number"
                   class="form-control"
                   ng-model="formModel.cash"
                   id="cash"
                   required="required">
        </div>
    </div>

    <div class="form-group">
        <label for="arrears" class="col-sm-2 control-label">{{'arrears' | translate}}</label>
        <div class="col-sm-10">
            <input type="number"
                   class="form-control"
                   ng-model="formModel.arrears"
                   id="arrears"
                   required="required">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary"
                    ladda="submitting"
                    data-style="expand-right"
                    type="submit">
                <span ng-show="submitting">Registering</span>
                <span ng-show="!submitting">Register</span>
            </button>
        </div>
    </div>
</form>
<pre>{{ formModel | json }}</pre>
</div>